<!DOCTYPE html>
<html>
    <head>
        <title>data</title>
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            {{ data.as_p }}
            {% if update_id != None %}
               <input type="hidden" name="update_id" value="{{ update_id }}">
               <button type="submit">Update</button>
            {% else %}
               <button type="submit">add</button>
               
            {% endif %}
            
        </form>

        <h1>employee detials</h1>
    <p>
    <b>Name</b> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
    <b>Place</b> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
    <b>DOB</b>
    </p>

    {% for i in employees %}
   <p>
    {{ i.name }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
    {{ i.place }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
    {{ i.DOB }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
     <a href="?update={{ forloop.counter0 }}">
            <button type="button">Update</button>
     </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
     <a href="?delete={{ forloop.counter0 }}">
            <button type="button">Delete</button>
        </a>
   </p>
    {% endfor %}
    </body>
</html>